
@{
    ViewBag.Title = "DataPassing";
}

<table border="1">
    <tr>
        <td>college code</td>
        <td>College Name</td>
        <td>collge rank</td>
    </tr>
    <h2>DataPassing</h2>
        @foreach (CollegeDetail.Detail item in (List<CollegeDetail.Detail>)ViewData["Packages"])
        {
            <tr>
                <td>
                    @item.collegeCode
                </td>
                <td>
                    @item.collegeName
                </td>
                <td>
                    @item.collegeRank
            </td>
        </tr>
        }
    </table>

